<!--<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Help it. By<br>little actions.</h2>
            <a href="/funds" class="btn btn-outline btn-xl page-scroll">How I can?!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
-->
<style>
    .abt{
        background-image: url("/img/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 15cm;
        padding-top:none;
        vertical-align: top;
        opacity: .9;

    }
    #abtus{
        text-align: center;
        color: white;
        font-style: bold;
    }
    #abt{
        text-align: center;
        color: white;
    }
</style>

<div class="abt">
    <br><br><br>

    
   <strong><h1 id="abtus">About Us</h1><br><br></strong>
    <p id="abt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galleyLorem Ipsum is simply dummy text of the printin</p>
</div>
