<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><h2><strong>EMPNEO 2.0</strong></h2></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="/funds"><h3>Home</h3></a>
              </li>
                <!--<li>
                    <a class="page-scroll" href="#download"><h3>downloads</h3></a>
                </li>-->
                <li>
                    <a class="page-scroll" href="#features"><h3>Alchemy</h3></a>
                </li>
              <!--  <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>-->
                <li>
                    <a class="page-scroll" href="#why"><h3>about us </h3></a>
                </li> 
                <li>
                    <a class="page-scroll" href="#contact"><h3>Contact Us</h3></a>
                </li>
              <!--  <li>
                    <a href="/blog/">Blog</a>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
